.home-wrap{
  padding: 70px;
  .movie-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    .movie-card{
      background-color: #282727;
      padding: 20px;
      text-decoration: none;
      color: #666;
      border-radius: 5px;
      &:hover{
        color: white;
        transform: scale(1.01);
        border-radius: 0;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .home-wrap{
    padding: 30px;
    .movie-container{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 30px;
      .movie-card{
        background-color: #282727;
        padding: 20px;
        text-decoration: none;
        color: #666;
        border-radius: 5px;
        &:hover{
          color: white;
          transform: scale(1.01);
          border-radius: 0;
        }
      }
    }
  }
}