.navbar-wrap{
  height: 70px;
  padding: 0 50px;
  border-bottom: 2px solid #edec51;
  background-color: black;
  .logo-navbar{
    height: 100%;
    display: flex;
    // justify-content: center;
    align-items: center;
    img{
      height: 60%;
    }
  }
}