.film-details-container{
  background-color: #282727;
  padding: 40px;
  color: white;
  border-radius: 5px;
  .film-title{
      font-size: 32px;
      font-weight: bold;
      margin: 20px 0 40px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid #edec51;
      p{
          padding-bottom: 10px;
          margin: 0;
      }
      .go-home{
        cursor: pointer;
        color: #666;
        &:hover{
          color: white;
        }
      }
  }

  .field-container{
      margin-bottom: 30px;
      .field-title{
          font-size: 24px;
          margin-bottom: 5px;
          
      }
      .field-description{
          font-size: 18px;
          color: #666;
      }
  }
  
}

@media only screen and (max-width: 600px) {
  .film-details-container{
    padding: 20px;
    .film-title{
        font-size: 24px;
    }
  
    .field-container{
        .field-title{
            font-size: 18px;
            
        }
        .field-description{
            font-size: 14px;
        }
    }
    
  }
}